
@media screen and (max-width: 992px) {
    .menu-item{
        width: 0px;
    }
    /*.menu-item .login {
        min-width: 90px;
    }*/
}


@media screen and (min-width: 992px) {
    .menu-item {
        /* width: 30%;*/
        min-width: 90px;
    }
}

